@font-face {
   font-family: 'HYQiHeiX1-75W';
   font-display: swap;
   src: url('HYQiHeiX1-75W/font.ttf');
}
@font-face {
   font-family: 'HYQiHei-60S';
   font-display: swap;
   src: url('HYQiHei-60S/font.ttf');
}
@font-face {
   font-family: 'HYQiHei-50S';
   font-display: swap;
   src: url('HYQiHei-50S/font.ttf');
}
@font-face {
   font-family: 'HYQiHei-40S';
   font-display: swap;
   src: url('HYQiHei-40S/font.ttf');
}
@font-face {
   font-family: 'HYQiHei-35S';
   font-display: swap;
   src: url('HYQiHei-35S/font.ttf');
}
