@font-face {
   font-family: 'HYQiHei-35S';
   font-display: swap;
   src: url('file:///Users/mac/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-09-09_171252/fonts/HYQiHei-35S/font.ttf');
}
