@font-face {
   font-family: 'HYQiHeiX1-75W';
   font-display: swap;
   src: url('file:///Users/mac/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-09-09_171252/fonts/HYQiHeiX1-75W/font.ttf');
}
